<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css" type="text/css" media="all" />
    <title>Contacts App</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href="/">
          <li>Go Home</li>
        </a>
        <a href="/contacts">
          <li>See all Contacts</li>
        </a>
        <a href="./contacts/new">
          <li>New Contact</li>
        </a>
      </ul>
    </nav>
    <main>
