<nav>
  <ul>
    <a href="/">
      <li>Go Home</li>
    </a>
    <a href="/contacts">
      <li>See all Contacts</li>
    </a>
    <a href="/contacts/new">
      <li>New Contact</li>
    </a>
    <a href="/contacts/edit">
      <li>Edit Contact</li>
    </a>
  </ul>
</nav>
